@import "@fontsource/poppins/400.css";
@import "@fontsource/poppins/700.css";
@import "@fontsource/open-sans/400.css";
@import "@fontsource/open-sans/700.css";
@import "@fontsource/oswald/400.css";
@import "@fontsource/oswald/700.css";
@import "@fontsource/roboto/400.css";
@import "@fontsource/roboto/700.css";
@tailwind base;
@tailwind components;
@tailwind utilities;

.abc section {
	width: 100%;
}

@layer utilities {
  .hero-75vh { height: 75vh; }
  .hero-85vh { height: 85vh; }
  .hero-90vh { height: 90vh; }
}


